.Products{
    width: 20%;
    height: 20vh;
    margin: 5px 10px;
    border: 2px solid rgb(118, 4, 130);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    // position: relative;
    background-color: antiquewhite;
}

.window{
    height: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(243, 242, 242);
    position: sticky;
    z-index: 1;
    }

.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;

}

.ProductsImg{
    width: 100%;
    transition: all 10s ease;
}

.Products:hover .ProductsImg{
    transform: translateY(-100%);
}

@media  screen and (max-width: 769px) {
    .Products{
        width: 40%;
        height: 20vh;
    } 
    
    .ProductsImg{
        height: 17vh;
        width: 20vw;
        object-fit: cover;
        transition: all 10s ease;
    }

    .Products:hover .ProductsImg{
        transform: translateY(-100%);
    }
    
    

}